
*.tif
data/openai-challenge/catalog.json
data/openai-challenge/colombia/catalog.json
data/openai-challenge/colombia/borde_rural/borde_rural_ortho-cog-thumbnail.png
data/openai-challenge/colombia/borde_rural/borde_rural-imagery.json
data/openai-challenge/colombia/borde_rural/borde_rural-labels-test.json
data/openai-challenge/colombia/borde_rural/borde_rural-labels-train.json
data/openai-challenge/colombia/borde_rural/collection.json
data/openai-challenge/colombia/borde_rural/test-borde_rural.geojson
data/openai-challenge/colombia/borde_rural/train-borde_rural.geojson
data/openai-challenge/colombia/borde_soacha/borde_soacha_ortho-cog-thumbnail.png
data/openai-challenge/colombia/borde_soacha/borde_soacha-imagery.json
data/openai-challenge/colombia/borde_soacha/borde_soacha-labels-test.json
data/openai-challenge/colombia/borde_soacha/borde_soacha-labels-train.json
data/openai-challenge/colombia/borde_soacha/collection.json
data/openai-challenge/colombia/borde_soacha/test-borde_soacha.geojson
data/openai-challenge/colombia/borde_soacha/train-borde_soacha.geojson
data/openai-challenge/guatemala/catalog.json
data/openai-challenge/guatemala/mixco_1_and_ebenezer/collection.json
data/openai-challenge/guatemala/mixco_1_and_ebenezer/mixco_1_and_ebenezer_ortho-cog-thumbnail.png
data/openai-challenge/guatemala/mixco_1_and_ebenezer/mixco_1_and_ebenezer-imagery.json
data/openai-challenge/guatemala/mixco_1_and_ebenezer/mixco_1_and_ebenezer-labels-test.json
data/openai-challenge/guatemala/mixco_1_and_ebenezer/mixco_1_and_ebenezer-labels-train.json
data/openai-challenge/guatemala/mixco_1_and_ebenezer/test-mixco_1_and_ebenezer.geojson
data/openai-challenge/guatemala/mixco_1_and_ebenezer/train-mixco_1_and_ebenezer.geojson
data/openai-challenge/guatemala/mixco_3/collection.json
data/openai-challenge/guatemala/mixco_3/mixco_3_ortho-cog-thumbnail.png
data/openai-challenge/guatemala/mixco_3/mixco_3-imagery.json
data/openai-challenge/guatemala/mixco_3/mixco_3-labels-test.json
data/openai-challenge/guatemala/mixco_3/mixco_3-labels-train.json
data/openai-challenge/guatemala/mixco_3/test-mixco_3.geojson
data/openai-challenge/guatemala/mixco_3/train-mixco_3.geojson
data/openai-challenge/st_lucia/catalog.json
data/openai-challenge/st_lucia/castries/castries_ortho-cog-thumbnail.png
data/openai-challenge/st_lucia/castries/castries-imagery.json
data/openai-challenge/st_lucia/castries/castries-labels-train.json
data/openai-challenge/st_lucia/castries/collection.json
data/openai-challenge/st_lucia/castries/train-castries.geojson
data/openai-challenge/st_lucia/dennery/collection.json
data/openai-challenge/st_lucia/dennery/dennery_ortho-cog-thumbnail.png
data/openai-challenge/st_lucia/dennery/dennery-imagery.json
data/openai-challenge/st_lucia/dennery/dennery-labels-test.json
data/openai-challenge/st_lucia/dennery/dennery-labels-train.json
data/openai-challenge/st_lucia/dennery/test-dennery.geojson
data/openai-challenge/st_lucia/dennery/train-dennery.geojson
data/openai-challenge/st_lucia/gros_islet/collection.json
data/openai-challenge/st_lucia/gros_islet/gros_islet_ortho-cog-thumbnail.png
data/openai-challenge/st_lucia/gros_islet/gros_islet-imagery.json
data/openai-challenge/st_lucia/gros_islet/gros_islet-labels-train.json
data/openai-challenge/st_lucia/gros_islet/train-gros_islet.geojson
